*
{
    margin: 0;
    padding: 0;
}

body
{
    overflow-x: hidden;
    background-color: #1e1e1e;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.container
{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.text_container
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.text
{
    font-size: 3em;
}
